@use "../../styles/dialog";

.dialog-title {
  i {
    color: var(--color-primary);
  }
}

.pause-dialog-actions {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.display-flex {
  display: flex;
  gap: 16px;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}
