@use "../../variables" as *;

.board-controls {
  display: grid;
  grid-template-columns: repeat(5, 100px);
}

.board-control-button {
  display: grid;
  grid-template-rows: 25px auto;
  grid-row-gap: 10px;
  background: none;
  border: none;
  color: $dark;
  margin: 15px;
  transition: all 0.2s ease;
  cursor: pointer;

  &:hover:not(:disabled) {
    color: $primary;
    transform: translateY(-1px);

    span {
      font-weight: bold;
    }
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    transform: none;
  }

  i {
    font-size: 24px;
  }

  span {
    font-size: 12px;
  }

  &.active:not(:disabled) {
    color: $primary;
    transform: translateY(0);

    span {
      font-weight: bold;
      color: $primary;
    }
  }
}
