<!-- Board Controls (Undo, Reset Notes, Notes Toggle, Hint) -->
<div class="board-controls">
  <button
    class="board-control-button"
    (click)="onUndoClick()"
    [disabled]="!canUndo || disabled"
  >
    <i class="fas fa-undo"></i>
    <span>Undo</span>
  </button>
  <button
    class="board-control-button"
    (click)="onResetNotesClick()"
    [disabled]="disabled"
  >
    <i class="fas fa-eraser"></i>
    <span>Reset Notes</span>
  </button>
  <button
    class="board-control-button"
    [class.active]="notesMode"
    (click)="onToggleNotesClick()"
    [disabled]="disabled"
  >
    <div class="icon-container">
      <i class="fas fa-pencil-alt"></i>
      <span class="badge">{{ notesMode ? 'ON' : 'OFF' }}</span>
    </div>
    <span>Notes</span>
  </button>
 
  <button
    class="board-control-button"
    (click)="onHintClick()"
    [disabled]="disabled"
  >
    <i class="fas fa-lightbulb"></i>
    <span>Hint</span>
  </button>
   <button
    class="board-control-button"
    [class.active]="numberFirstMode"
    [class.number-first-active]="numberFirstMode"
    (click)="onToggleNumberFirstClick()"
    [disabled]="disabled"
  >
    <div class="icon-container">
      <i class="fas fa-mouse-pointer"></i>
      <span class="badge">{{ numberFirstMode ? 'ON' : 'OFF' }}</span>
    </div>
    <span>Number-First</span>
  </button>
</div>
