@use "variables" as *;

.number-pad {
  display: flex;
  margin: 10px auto;
  gap: 8px;

  button {
    flex: 1 1 30px;
    height: 40px;
    font-size: 1.2rem;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.2s ease;
    
    &:hover {
      transform: translateY(-2px);
    }
    
    &.selected {
      background-color: $primary;
      color: $lightest;
      border-color: $primary;
      transform: translateY(-2px);
    }
  }
}
