@use "../../variables" as *;

.timer-container {
  display: grid;
  grid-template-columns: auto 20px;
  justify-content: end;
}

.pause-btn {
  cursor: pointer;
  transition: all 0.2s ease;
  color: $medium;
  border: none;
  background: none;

  &:hover:not(:disabled) {
    transform: translateY(-1px);
    color: $primary;
  }

  &:active:not(:disabled) {
    transform: translateY(0);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    transform: none;
    box-shadow: none;
  }

  &.paused {

    &:hover:not(:disabled) {
    }
  }

  i {
    font-size: 14px;
  }
}
