// Global styles
* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  text-align: center;
  overflow-x: hidden;
  font-size: 14px;
}

:host {
  display: grid;
  grid-template-rows: 66px auto 1fr;
  height: 100vh;
  // overflow: hidden;
}