@use "../../variables" as *;

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid $darkest;
  width: fit-content;

  &.disabled {
    opacity: 0.6;
    pointer-events: none;

    .cell {
      cursor: not-allowed;
    }
  }
}

.box {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  grid-template-rows: repeat(3, 50px);
  border: 1px solid $darkest;
}

.cell {
  position: relative;
  border: 1px solid $light;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  user-select: none;
  font-weight: bold;

  &.fixed {
    color: $darkest;
  }

  &.selected {
    background-color: $primary;
    color: $lightest;
  }

  &.correct {
    color: $primary;
    background-color: transparent;

    .main-number {
      // color: $primary !important;
    }
  }

  &.error {
    color: $danger;
    background-color: transparent;

    .main-number {
      color: $danger !important;
    }
  }

  &.fixed-selected {
    background-color: rgba(52, 73, 94, 0.3); // Dark blue with transparency
    border: 2px solid $darkest;
    color: $darkest;
    position: relative;

    &:hover {
      background-color: rgba(52, 73, 94, 0.4);
    }
  }

  &.number-highlighted {
    background-color: $primary;
    color: $lightest;
    //background-color: rgba(255, 168, 0, 0.2); // Warning color with transparency
    //border: 2px solid $warning;

    .main-number {
      //color: $warning;
      //font-weight: bold;
    }

    .note {
      color: $warning;
      font-weight: bold;
    }
  }



  &.related-highlighted {
    background-color: rgba($primary, 0.035); // Info color with transparency
    border: 1px solid rgba($primary, 0.2);
  }

  &.current-number-highlighted {
    background-color: $primary;
    color: $lightest;

    .note {
      color: $success;
      font-weight: bold;
    }
  }

  // Override related highlighting for selected cell
  &.selected.related-highlighted {
    background-color: $primary;
    border: 2px solid $primary;
  }

  // Override number highlighting for selected cell
  &.selected.number-highlighted {
    background-color: $primary;
    border: 2px solid $primary;

    .main-number {
      color: $lightest;
    }

    .note {
      color: $lightest;
    }
  }

  .notes-grid {
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    font-size: 11px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    color: $medium;
    grid-gap: 2px;


    .note {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: normal;
      border-radius: 2px;

      &.has-note {
        color: $medium;
      }

      &.note-error {
        background-color: $danger;
        color: $lightest;
      }

      &.note-selected {
        background-color: $primary;
        color: $lightest;
      }
    }
  }
}
