// Variables
$primary: #3d55cc;
$darkest: #141a33;
$dark: #505673;
$medium: #878ca8;
$light: #dadef2;
$lightest: #f5f6fa;
$white: #fff;
$warning: #ffa800;
$info: #3699ff;
$danger: #e8584a;
$success: #37be76;
$black: #000;
