<app-controls
  [notesMode]="notesMode"
  [numberFirstMode]="numberFirstMode"
  [canUndo]="canUndo()"
  [disabled]="!isGameActive()"
  (resetGame)="resetGame()"
  (newGame)="onNewGame($event)"
  (toggleNotesMode)="toggleNotesMode()"
  (toggleNumberFirstMode)="toggleNumberFirstMode()"
  (resetNotes)="resetNotes()"
  (hint)="provideHint()"
  (undo)="undo()"
/>

<div class="puzzle-info-container">
  <div class="score text-center"><span>Score: {{ getCurrentScore() }}</span></div>
  <div class="mistakes">
    <i class="fa-solid fa-exclamation-triangle margin-right-4"></i>
    <span>Mistakes: {{ getMistakeCount() }} / 3</span>
  </div>
  <div class="difficulty text-center"><span>{{ getCurrentDifficulty() }}</span></div>
  <app-timer
    class="time"
    [isGameActive]="isGameActive()"
    [isGamePaused]="isGamePaused"
    [isGameCompleted]="hasWonGame()"
    (timerUpdate)="onTimerUpdate($event)"
    (pauseStateChange)="onPauseStateChange($event)">
  </app-timer>
</div>


<div class="game-over-message" *ngIf="isGameOver()">
  <i class="fas fa-times-circle"></i>
  <span class="game-over-text">Game Over! Too many mistakes.</span>
</div>

<!-- Congratulations Modal -->
<app-congratulations-modal
  [isVisible]="showCongratulationsModal"
  [gameData]="gameCompletionData"
  (newGame)="onNewGameFromModal($event)"
  (closeModal)="onCloseCongratulationsModal()">
</app-congratulations-modal>


<div class="sudoku-container" #sudokuContainer>


  <div class="game-content">

    <app-board
      [boxes]="boxes"
      [selectedBoxIndex]="selectedBoxIndex"
      [selectedCellIndex]="selectedCellIndex"
      [currentNumber]="currentNumber"
      [disabled]="!isGameActive()"
      (cellSelected)="onCellSelected($event)">
    </app-board>
    <app-number-pad
      [currentNumber]="currentNumber"
      [selectedNumber]="selectedNumber"
      [numberFirstMode]="numberFirstMode"
      [disabled]="!isGameActive()"
      [remainingCounts]="calculateRemainingCounts()"
      (numberClick)="onNumberPadClick($event)">
    </app-number-pad>

  </div>

</div>
